---
layout: page
title: "About"
description: "This is me."
header-img: "img/post-bg-2015.jpg"
duoshuo_comment: false
---
<!-- Language Selector -->
<ul class="nav nav-tabs">
    <li id="en" onclick="langChange(this, event)"><a href="#">English</a></li>
    <li id="zh" class="active" onclick="langChange(this, event)"><a href="#">中文</a></li>
</ul>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote><p>往事如风。<br>
    世界那么大，我想去看看。</p></blockquote>

    <p>我叫 Aaron.</p>
</div>

<!-- English Version -->
<div class="en post-container" style="display: none;">
    <blockquote><p>I want a solution for everything.<br>
    Which doesn't exist.</p></blockquote>

    <p>Aaron is my name.</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var seczh = document.querySelector(".zh");
    var secen = document.querySelector(".en");
    var btnzh = document.querySelector("#zh");
    var btnen = document.querySelector("#en");

    // handle select change
    function langChange(target, event){
        event.preventDefault();
        if(target === btnen){
            btnzh.classList.remove('active');
            btnen.classList.add('active');
            secen.style.display = "block";
            seczh.style.display = "none";
        }else{
            btnen.classList.remove('active');
            btnzh.classList.add('active');
            seczh.style.display = "block";
            secen.style.display = "none";
        }
    }
</script>

{% if page.duoshuo_comment && site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
